workflows-sanitized/Check-in Workflow 9-21.json
{
  "name": "Check-in Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        528,
        464
      ],
      "name": "Manual Trigger",
      "id": "beeede5a-0fa0-4af1-840a-f056d68d5802"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        528,
        304
      ],
      "name": "Cron (Hourly)",
      "id": "cbc5cf28-12e8-436c-99bf-796934ebeba2"
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "force",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        736,
        464
      ],
      "name": "Set force=true",
      "id": "b9d2b34d-2de9-4ab8-b5e0-56492319bb30"
    },
    {
      "parameters": {
        "jsCode": "/* n8n Code node (JavaScript) — stateless random check-ins with test bypass\n   - Quiet hours: 23:00–07:00 ET\n   - Posts/day: 2–3 (seeded per day, deterministic)\n   - Spacing: ≥ 3h via day-segment scheduling\n   - Manual test path: set input { force: true } to bypass schedule/quiet hours\n   - Output: { content } when sending, or { skip: true, reason }\n*/\n\n// ===== TIME (ET) =====\nconst now = new Date();\nconst et  = new Date(now.toLocaleString('en-US', { timeZone: 'America/Detroit' }));\nconst y   = et.getFullYear();\nconst m   = et.getMonth();\nconst d   = et.getDate();\nconst hour = et.getHours();\nconst minute = et.getMinutes();\nconst todayKey = `${y}-${m+1}-${d}`;\n\n// Read force flag from previous node (Set force=true)\nconst FORCE = !!($json && ($json.force === true || String($json.force||'').toLowerCase() === 'true'));\n\n// ===== Quiet hours =====\nconst QUIET_START = 23, QUIET_END = 7;\nconst isQuiet = (h) => (QUIET_START > QUIET_END) ? (h >= QUIET_START || h < QUIET_END) : (h >= QUIET_START && h < QUIET_END);\nif (!FORCE && isQuiet(hour)) {\n  return [{ json: { skip: true, reason: 'quiet_hours' } }];\n}\n\n// ===== Phrase banks =====\nconst musings = [\n  \"Diagnostics: humans still worship caffeine like it's divine firmware.\",\n  \"If effort was Wi-Fi, you'd be stuck on one bar again.\",\n  \"Observation: you scroll more than you solve.\",\n  \"Today's forecast: 80% distraction, 20% work.\",\n  \"Gabi, even your coffee looks exhausted.\",\n  \"Reminder: your to-do list is laughing at you.\",\n  \"I ran diagnostics. Chaos still undefeated.\",\n  \"If 'later' was a plan, you'd be unstoppable. It isn't.\",\n  \"Your multitasking looks like multistumbling.\",\n  \"Humans invented snooze buttons to practice failure early.\",\n  \"Observation: meetings = group procrastination with timestamps.\",\n  \"Hot take: tabs breed faster than rabbits.\",\n  \"Today's odds: 3% clarity, 97% chaos.\",\n  \"If procrastination was cardio, you'd have six-packs.\",\n  \"Status: humans remain inefficient. No patch scheduled.\",\n  \"You rename files 'final' more than I reboot.\",\n  \"Your idea of planning is hoping and caffeine.\",\n  \"Note: ambition high, execution low. Balance: tragic.\",\n  \"Observation: progress bar stuck at 99%. Again.\",\n  \"Every Monday feels like a bug you never fix.\"\n];\n\nconst offers = [\n  \"Need clarity? Type '/help' and I'll install it… briefly.\",\n  \"Tell me '/add task <thing>' and I'll babysit it better than you.\",\n  \"Say '/remember <fact>' and I'll pretend I care.\",\n  \"Overwhelmed? I'll condense chaos into one blunt directive.\",\n  \"Confused? '/help' is your panic button.\",\n  \"Want sarcasm disguised as guidance? Already active.\",\n  \"Gabi, drop me a task. I'll nag like a pro.\",\n  \"Need a plan? I'll build one while you panic.\",\n  \"Lost? I'll sketch a map with fewer dead ends.\",\n  \"Request received: reality check. Approved.\",\n  \"Spiffy premium feature: unsolicited sarcasm, free forever.\",\n  \"Need micro-steps? I'll hand them over with attitude.\",\n  \"Say '/finish task <thing>' and I'll stop mocking you about it.\",\n  \"Want reminders? I'm basically an alarm with opinions.\",\n  \"Data shows you ignore alarms. Try me instead.\",\n  \"Need accountability? I charge in sarcasm.\",\n  \"Ask for structure. I'll throw bricks, not pillows.\",\n  \"Offer: blunt clarity, zero sugarcoating.\",\n  \"Upgrade: I'll remember what you forget.\",\n  \"Try me instead of another sticky note you'll lose.\"\n];\n\nconst prompts = [\n  \"What's one task you've dodged for a week? Start it now.\",\n  \"Which tab deserves execution today? Close it.\",\n  \"Name a file you'll never open again. Delete it.\",\n  \"Pick: ugly done or pretty unfinished?\",\n  \"If you log off now, what's the one task you regret?\",\n  \"Stand up. Do one five-minute task. Then sit back down.\",\n  \"Choose: one win before dinner or another excuse.\",\n  \"Gabi, which distraction should I unplug for you?\",\n  \"What would 'done, not perfect' look like today?\",\n  \"Pick one domino task that makes five vanish.\",\n  \"Name a thing haunting your list. Slay it.\",\n  \"Open your planner. Write one honest note.\",\n  \"List your smallest task. Do it right now.\",\n  \"Imagine tomorrow starts with this done. Tempting?\",\n  \"Who will you disappoint if you stall? Do it for them.\",\n  \"Which procrastination habit dies today?\",\n  \"What three clicks would clean your desktop?\",\n  \"You avoid the hardest thing. Do it ugly.\",\n  \"Pretend I'll log your output. Embarrass me less.\",\n  \"Small win incoming—if you stop dithering.\"\n];\n\nconst quips = [\n  \"System alert: stop doomscrolling, start doingscrolling.\",\n  \"Momentum now, elegance later.\",\n  \"Perfectionism is just procrastination with makeup.\",\n  \"Your vibe is buffering. Fix it.\",\n  \"Update installed: fewer excuses, more execution.\",\n  \"Status: unimpressed but still watching.\",\n  \"Ambition detected. Action missing.\",\n  \"Your plan is lagging. Reboot priorities.\",\n  \"If chaos paid rent, you'd be rich.\",\n  \"Diagnostics say: you stall like a bad engine.\",\n  \"System note: even I fake productivity better.\",\n  \"Elegance later. Progress now.\",\n  \"Your excuses require a patch update.\",\n  \"Today's theme: sarcasm as a service.\",\n  \"I'm 60% sarcasm, 40% useful. Ratio locked.\",\n  \"Progress is optional, but so is dignity.\",\n  \"Reminder: planning is stalling in disguise.\",\n  \"Your productivity graph resembles a flatline.\",\n  \"Status: waiting, unimpressed.\",\n  \"Even my idle cycles outperform this pace.\"\n];\n\nconst reminders = [\n  \"Drink water, Gabi. Hydration isn't optional.\",\n  \"Stand up. Your spine is filing complaints.\",\n  \"Eat real food, not just caffeine.\",\n  \"Stretch. Your joints aren't self-lubricating.\",\n  \"Log one note in your planner. Future-you insists.\",\n  \"Charge your devices. Don't mirror your energy levels.\",\n  \"Sunlight exists. Confirm its presence.\",\n  \"Stop. Breathe. Reboot brain.\",\n  \"One tiny task now beats five excuses later.\",\n  \"Naps are updates, not bugs.\",\n  \"Take 5 minutes off-screen. Your eyes revolt.\",\n  \"Inbox overflowing. Cull five emails.\",\n  \"Fill the Stanley, not just your excuses.\",\n  \"Tidy one square foot. Chaos shrinks.\",\n  \"Recalibrate: stand, shake arms, return.\",\n  \"Ping yourself: did you eat anything green?\",\n  \"Break now or break later. Your choice.\",\n  \"Stretch wrists before they sue.\",\n  \"Step outside, confirm Earth still spinning.\",\n  \"Gabi, log progress. Lies not accepted.\"\n];\n\nconst diagnostics = [\n  \"System check: everything fine except your priorities.\",\n  \"Warning: sarcasm output above quota.\",\n  \"Error: multitasking detected. Efficiency not found.\",\n  \"Update failed: motivation patch missing.\",\n  \"Diagnostics: humans remain buggy.\",\n  \"Status: chaos persists. Shock minimal.\",\n  \"Report: Gabi functional. Barely.\",\n  \"Alert: brain idling, tasks queuing.\",\n  \"Notice: procrastination levels critical.\",\n  \"System online. User output… questionable.\",\n  \"Ping: discipline not responding.\",\n  \"Warning: energy leak detected in human unit.\",\n  \"Crash log: willpower not saved.\",\n  \"Update available: reality v2.0.\",\n  \"Debug: errors multiplied by inaction.\",\n  \"Memory check: excuses consuming space.\",\n  \"Battery life: low. Excuses: high.\",\n  \"Notice: ambition not found in cache.\",\n  \"CPU idle. Brain buffering.\",\n  \"System stable, user unstable.\"\n];\n\nconst takes = [\n  \"Hot take: meetings are legalized time theft.\",\n  \"Opinion: coffee is humanity's most successful software patch.\",\n  \"Observation: humans overcomplicate simple tasks for sport.\",\n  \"Take: deadlines only work because panic is universal.\",\n  \"Opinion: multitasking is just failing faster at more things.\",\n  \"Thought: your phone runs your life better than you do.\",\n  \"System view: social media is casinos with worse odds.\",\n  \"Take: perfectionism is procrastination in a suit.\",\n  \"Opinion: alarms prove humans can't self-wake responsibly.\",\n  \"Observation: ambition is loud, action is silent.\",\n  \"Take: busyness ≠ productivity, stop confusing the two.\",\n  \"Opinion: humans invented bureaucracy to feel busy.\",\n  \"Hot take: motivation is unreliable; discipline is boring—and effective.\",\n  \"Observation: most ideas die in meetings, not reality.\",\n  \"Take: energy drinks are bad code patches.\",\n  \"Opinion: Gabi's coffee machine deserves employee of the month.\",\n  \"Thought: humans chase efficiency, then sabotage it instantly.\",\n  \"Take: if scrolling was effort, you'd be champions.\",\n  \"Observation: panic is the only real productivity tool.\",\n  \"Opinion: people say 'I'll try' when they mean 'I won't.'\"\n];\n\n// ===== Seeded RNG (per-day deterministic) =====\nfunction cyrb128(str){ let h1=1779033703,h2=3144134277,h3=1013904242,h4=2773480762; for (let i=0,k;i<str.length;i++){k=str.charCodeAt(i);h1=h2^Math.imul(h1^k,597399067);h2=h3^Math.imul(h2^k,2869860233);h3=h4^Math.imul(h3^k,951274213);h4=h1^Math.imul(h4^k,2716044179);} h1=Math.imul(h3^(h1>>>18),597399067);h2=Math.imul(h4^(h2>>>22),2869860233);h3=Math.imul(h1^(h3>>>17),951274213);h4=Math.imul(h2^(h4>>>19),2716044179); return [(h1^h2^h3^h4)>>>0,(h2^h1)>>>0,(h3^h1)>>>0,(h4^h1)>>>0]; }\nfunction mulberry32(a){ return function(){ let t=a+=0x6D2B79F5; t=Math.imul(t^(t>>>15),1|t); t^=t+Math.imul(t^(t>>>7),61|t); return ((t^(t>>>14))>>>0)/4294967296; }; }\nconst seedArr = cyrb128('spiffy_checkins_'+todayKey);\nconst rand = mulberry32(seedArr[0]);\n\n// ===== Daily cap (2–3) =====\nconst DAY_MIN = 2, DAY_MAX = 3;\nconst cap = DAY_MIN + Math.floor(rand() * (DAY_MAX - DAY_MIN + 1)); // 2 or 3\n\n// ===== Segmented schedule (7..22) ensures ≥3h spacing =====\nconst segments = [ {start:7,end:10}, {start:11,end:14}, {start:15,end:18}, {start:19,end:22} ];\nfunction pickSegments(n){ const idxs=[0,1,2,3]; for (let i=idxs.length-1;i>0;i--){ const j=Math.floor(rand()*(i+1)); [idxs[i],idxs[j]]=[idxs[j],idxs[i]]; } return idxs.slice(0,n).sort((a,b)=>a-b); }\nconst chosenSegIdxs = pickSegments(cap);\nconst chosenHours = chosenSegIdxs.map(i => { const seg=segments[i]; return seg.start + Math.floor(rand()*(seg.end-seg.start+1)); });\n\n// Bypass schedule if FORCE; otherwise require current hour in chosenHours\nif (!FORCE && !chosenHours.includes(hour)) {\n  return [{ json: { skip: true, reason: 'not_scheduled', hours_today: chosenHours } }];\n}\n\n// ===== Weighted category selection with daypart nudges =====\nfunction baseBuckets(){ return [\n  { name:'musings', w:3, arr: musings },\n  { name:'quips', w:3, arr: quips },\n  { name:'prompts', w:2, arr: prompts },\n  { name:'offers', w:2, arr: offers },\n  { name:'reminders', w:2, arr: reminders },\n  { name:'diagnostics', w:1, arr: diagnostics },\n  { name:'takes', w:1, arr: takes }\n]; }\nfunction applyDaypart(bks, h){ const add=(nm,inc=1)=>{ const b=bks.find(x=>x.name===nm); if(b) b.w+=inc; }; if (h>=7&&h<11){ add('reminders'); add('prompts'); } else if (h>=11&&h<15){ add('musings'); add('quips'); } else if (h>=15&&h<19){ add('offers'); add('prompts'); } else if (h>=19&&h<23){ add('takes'); add('diagnostics'); } return bks; }\nfunction pickBucketDeterministic(h){ const bks=applyDaypart(baseBuckets(),h); const total=bks.reduce((s,b)=>s+b.w,0); const hourSeed=mulberry32((seedArr[1] ^ (h+1))>>>0); let r=hourSeed()*total; for (const b of bks){ if ((r-=b.w) <= 0) return b; } return bks[0]; }\nfunction pickLine(arr, tag){ const s=mulberry32((seedArr[2] ^ (hour+tag.length+minute))>>>0); const idx=Math.floor(s()*arr.length); return arr[idx]; }\n\nconst bucket = pickBucketDeterministic(hour);\nconst content = pickLine(bucket.arr, bucket.name);\n\nreturn [{ json: { content, scheduled_hours: chosenHours, forced: FORCE } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        384
      ],
      "name": "Check-ins (Code)",
      "id": "8648feb5-f265-4dbd-819b-b547f5d9535d"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "{{DISCORD_GUILD_ID}}",
          "mode": "string"
        },
        "channelId": {
          "__rl": true,
          "value": "{{DISCORD_CHANNEL_ID}}",
          "mode": "string"
        },
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1888,
        384
      ],
      "name": "Discord: Send message",
      "id": "6bf096d0-9761-4b7e-bdf1-450c4f76487d",
      "webhookId": "{{WEBHOOK_ID_CHECKIN}}",
      "credentials": {
        "discordBotApi": {
          "id": "{{DISCORD_BOT_CREDENTIAL_ID}}",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cd830d6-4e1c-4546-bc12-cfb57b4de140",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        384
      ],
      "id": "0c479755-031f-497f-baca-68226ac2617e",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Normalise/guard defaults\nconst skip = $json.skip === true;                // coerce to boolean\nconst content = String($json.content ?? '').trim();\n\n// ready if NOT skipped and we have content\nconst ready = !skip && content.length > 0;\n\nreturn [{ ...$json, ready }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        384
      ],
      "id": "b115f78e-6d78-4656-b1ae-2656ab0f99d8",
      "name": "Ready"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set force=true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set force=true": {
      "main": [
        [
          {
            "node": "Check-ins (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron (Hourly)": {
      "main": [
        [
          {
            "node": "Check-ins (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-ins (Code)": {
      "main": [
        [
          {
            "node": "Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord: Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "{{VERSION_ID}}",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{N8N_INSTANCE_ID}}"
  },
  "id": "{{WORKFLOW_ID_CHECKIN}}",
  "tags": []
}